@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto Flex', sans-serif;
}

img{
    width: 100%;
}

.btn{
    padding: 10px 15px;
    border-radius: 20px;
    border: 0px;
    display: inline-block;
}

/* colori di sfondo */

.btn-color2{
    background-color: rgb(35, 39, 42);
    color: white;
}

.btn-color1{
    background-color: white;
    color: black;
}

.btn-color3{
    color: white;
    background-color: #7289DA;
}

.bgcolor2{
    background-color: #E6E6E6;
}

.bgcolor3{
    background-color: rgb(49, 47, 47);
}
/* header */
header{
    color: white;
}

.background-head{
    background-color: rgb(37, 94, 233);
    width: 100%;
    padding: 10px 0;
}

.cont-head{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.menu ul{
    display: flex;
    justify-content: center;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.menu{
    text-align: center;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    text-align: right;
    width: 20%;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.border-bot{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    font-size: 25px;
}

h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 50px;
}

.cont-btn{
    padding-top: 30px;
    padding-bottom: 175px;
}

/* main */
.container, .container-big{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.head-text{
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 20px;
}

.low-text{
    font-size: 20px;
    padding-bottom: 20px;
}

.wave{
    opacity: 0.1;
    filter: alpha(opacity=40);
}

.wave2{
    opacity: 0.1;
    filter: alpha(opacity=40);
    transform:rotate(180deg);
}

.box-section1{
    width: 50%;
    text-align: center;
    line-height: 30px;
}

.box-section2{
    width: 37%;
}

.box-section3{
    width: 17%;
}

.box-section4{
    width: 70%;
    height: 90%;
    text-align: center;
}

.star{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
}

.box-section5{
    width: 20%;
    height: 90%;
    background-color: salmon;
}

.box-section6{
    width: 50%;
    height: 90%;
    display: flex;
}

.box-section7{
    width: 25%;
    height: 100%;
    background-color: aqua;
}
/* footer */
footer{
    padding: 10px;
    width: 100%; 
}

.cont-foot{
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 50px;
    background-color: aquamarine;
    align-items: center;
}

.logo-foot{
    background-color: grey;
    width: 60px;
    text-align: center;
}